html {
  box-sizing: border-box;
  line-height: 1.5;
  background-color: #eee9de;
  vertical-align: middle;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  margin: 0;
}

img {
  display: block;
  width: 100%;
}

section {
  padding-top: 2em;
  padding-bottom: 2em;
  text-align: center;
}

.image {
  display: inline-block;
  padding: 1em;
  max-width: 25em;
  vertical-align: middle;
}

.right {
  display: inline-block;
  vertical-align: middle;
  font-family: Lato, sans-serif;
  font-weight: bold;
  text-align: left;
  padding: 1em;
  max-width: 25em;
}

h2 {
  font-family: Lato, sans-serif;
  font-weight: bold;
  margin: 0 0 1.5rem;
}

p {
  font-family: Lato, sans-serif;
  font-weight: normal;
  text-align: left;
  margin-bottom: 1.5rem;
}

.btn {
  font-family: Lato, sans-serif;
  font-weight: normal;
  text-decoration: none;
  padding: .4em .75em .5em;
  border-color: #333;
  border-style: solid;
  border-radius: .5em;
  color: #333;
  display: inline-block;
}

.btn:hover {
  background-color: #666;
}
